.preferred-ingredients {
    display: flex;
    flex-direction: column;
    width: 54rem;
    margin: 0 auto;
    padding-top: 2rem;
    border-bottom: 1px solid #b3b3b3;
}

.preferred-ingredients__label {
    font-size: 1.25rem;
    font-weight: 600;
}

.preferred-ingredients__scroll {
    display: flex;
    overflow-x: auto;
    padding-bottom: 1rem; 
}

.preferred-ingredients__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 6rem;
    padding: 2rem 2rem 0rem;
    border-right: 1px solid #d9d9d9;
    gap: 1rem;
    position: relative;
}

.preferred-ingredients__image {
    width: 5rem;
    height: 5rem;
    border-radius: 0.25rem;
    overflow: hidden;
    position: relative;
}

.preferred-ingredients__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.preferred-ingredients__remove-icon {
    position: absolute;
    top: 0.6rem;
    right: 0.8rem;
    font-size: 1rem;
    color: #878787;
    cursor: pointer;
    transition: transform 0.2s ease, color 0.2s ease;
}

.preferred-ingredients__remove-icon:hover {
    transform: scale(1.125);
    color: #ff4646;
  }

.preferred-ingredients__name {
    font-size: 0.875rem;
    font-weight: 500;
    color: #000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 6rem;
    text-align: center;
}