.video-page-link {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 14rem;
}

.video-page-link .link-img {
    padding-top: 67.5%;
    position: relative;
    width: 100%;
}

.video-page-link .link-img img {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.video-page-link .link-label {
    text-align: center;
}