.nutrition-diet {
    background-color: #ffffff;
}
 
.nutrition-diet__tabs {
    display: flex;
    width: 54rem;
    margin: 6rem auto 0;
    border-bottom: 1px solid #b3b3b3;
}
  
.nutrition-diet__tab {
    width: 4rem;
    text-align: center;
    font-size: 1.25rem;
    color: #b3b3b3;
    cursor: pointer;
    padding: 0.5rem;
    border-top: 0.35rem solid #b3b3b3;
}
  
.nutrition-diet__tab.active {
    border-top: 0.35rem solid #ddfb21;
    color: #000000;
    font-weight: 800;
}