.nutrition-radar-section {
    background-image: url("../../../../assets/images/nutrition-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    padding: 4rem 0;
    text-align: center;
}