.intake-status__item {
    display: flex;
    padding: 1.25rem 0;
    font-size: 1rem;
    width: 40rem;
}

.intake-status__nutrient {
    width: 8rem;
    font-weight: 800;
}

.intake-status__level {
    width: 4rem;
    text-align: left;
    font-size: 0.875rem;
}

.intake-status__level--bar-adequate {
    color: #26c51e;
}

.intake-status__level--bar-deficient {
    color: #ff4646;
}

.intake-status__level--bar-excessive {
    color: #ff4646;
}

.intake-status__bar-container {
    flex: 1;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    position: relative;
}

.intake-status__bar-track {
    position: relative;
    height: 0.5rem;
    background-color: #efefef;
    border-radius: 9999px;
}

.intake-status__bar-fill {
    height: 100%;
    border-radius: 9999px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transition: width 0.6s ease-in-out;
}

.bar-deficient {
    background-color: #ff9b9b;
}

.bar-adequate {
    background-color: #9ce59d;
}

.bar-excessive {
    background-color: #ff9b9b;
}

.intake-status__bar-value-label {
    position: absolute;
    left: 100%;
    margin-left: 0.25rem;
    font-size: 0.75rem;
    color: #333;
    font-weight: 600;
    white-space: nowrap;
}

.intake-status__bar-labels {
    position: relative;
    font-size: 0.75rem;
    color: #878787;
    padding: 0 0.25rem;
    height: 1.2rem;
}

.intake-status__bar-labels span {
    position: absolute;
    top: 0;
}

.intake-status__bar-labels span:first-child {
    left: 0;
}

.intake-status__bar-labels span:last-child {
    right: 0;
}

.intake-status__label-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #000000;
    text-align: center;
}