.exercise-history {
    background-color: #ffffff;
}

.exercise-history .history-title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: 0.25rem;
}

.exercise-history .title-img {
    cursor: pointer;
    padding-top: 16.8rem;
    position: relative;
    width: 54rem;
    margin: 0 auto;
}

.exercise-history .title-img img {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.exercise-empty-message {
    padding: 4rem;
    text-align: center;
}