.select-meal-section {
    display: flex;
    flex-direction: column;
    width: 54rem;
    margin: 0 auto;
    padding: 2.5rem;
}

.select-meal-section__title {
    font-size: 1.5rem;
    margin-left: 3rem;
}

.select-meal-section__title span {
    font-weight: 600;
}

.select-meal-section__container {
    display: flex;
    height: 35rem;
    margin: 3rem;
    border-bottom: 1px solid #b3b3b3;
}

.select-meal-section__selected {
    width: 24rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: auto;
    border-right: 1px solid #b3b3b3;
    padding-bottom: 1rem;
}

.select-meal-section__group {
    flex: 1;
    overflow-y: auto;
}

.select-meal-section__label {
    font-size: 1.25rem;
    font-weight: 600;
}

.select-meal-section__selected .empty-state {
    padding: 2rem 0;
}

.select-meal-section__thumb-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding-bottom: 1rem;
}

.select-meal-section__list {
    width: 24rem;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.select-meal-section__items {
    flex: 1;
    overflow-y: auto;
}

.select-meal-section__actions {
    display: flex;
    justify-content: center;
    gap: 2.5em;
    margin: 4rem;
}

.select-meal-section__actions button {
    width: 10rem;
    padding: 0.25rem 2rem;
}