.exercise-part {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.exercise-part .part-name {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    color: #ffffff;
    font-weight: 500;
    width: 2rem;
    padding: 0.25rem 1rem;
    margin-right: 42rem;
}

.exercise-part .part-list {
    display: flex;
    gap: 2rem;
}