.banner-section__title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.5rem 0 2rem 0;
    font-size: 1.5rem;
}

.banner-section__title__text {
    width: 32rem;
    margin-right: 16rem;
}

.banner-section__title__text span {
    font-weight: 600;
}

.banner-section__img {
    cursor: pointer;
    padding-top: 6.5rem;
    position: relative;
    width: 48rem;
    margin: 0 auto 2rem auto;
}

.banner-section__img img {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    transition: opacity 0.2s ease;
}

.banner-section__img img:hover {
    opacity: 0.75;
}